html, body {
  font-family: 'Heebo', arial, sans-serif;
}

.nav-logo a {
  font-family: 'Alfa Slab One', cursive;
  font-size: 40px;
  color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alfa Slab One', cursive;
}

.sidebar-category {
  line-height: 30px;
}

.dark-mode * {
  color: #fafafa;
}

.dark-mode input, .dark-mode textarea, .dark-mode select {
  color: #424242;
}

.dark-mode p.validation-error {
  color: #ffaaa9;
}

.dark-mode pre {
  background: #646464;
}
